.freshman-page-body{
  background-color: #ffffff;
}

.freshman-container{position:relative;width:100%;min-height:100%;}

.freshman-footer{
	background: #3cc8b4;
	padding-top: 48px;
    padding-bottom: 55px;
        text-align: center;
	height:50px;bottom:0px;left:0px;right: 0px;}
.fresh-footer-fixed{
	position:fixed;
}
.fresh-footer-relative{
	position:relative;
}

.freshman-footer-text{
	color: #ffffff;
}
.freshman-footer-text a:hover{
	color: #f3f3f3;
}
